@media screen and (min-width: 992px) and (max-width: 2220px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 10px;
    margin: 0 10% 0 13%;
    display: block;
    border: 1px solid black;
  }

  :root {
    --primary-color: rgb(65, 180, 238);
    --secondary-color: rgb(231, 222, 222);
    --third-color: rgb(215, 208, 208);
  }

  /* Kich thuoc cua banner o dau trang web */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 10px;
    margin: 0 10% 0 13%;
    display: block;
    border: 1px solid black;
  }
  * {
    box-sizing: border-box;
  }
  :root {
    --primary-color: rgb(65, 180, 238);
    --secondary-color: rgb(234, 228, 228);
    --third-color: rgb(215, 208, 208);
  }

  /* Kich thuoc cua banner o dau trang web */

  .header-banner {
    width: 100%;
    height: 650px;
    position: relative;
  }
  .header-name-container {
    position: absolute;
    width: 100%;
    height: auto;
    top: 20%;
    left: 2%;
    font-size: 10px;
    color: rgb(47, 54, 255);
  }
  section {
    display: block;
  }
  header p {
    font-size: 12px;
    text-align: center;
  }
  header h1 {
    text-align: center;
  }
  /* navbar */
  .nav-bar .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .nav-bar .nav-list li a {
    text-decoration: none;
    text-align: center;
    color: #000;
  }
  .nav-bar .nav-list li i {
    color: var(--primary-color);
  }
  .nav-bar .nav-list li a {
    color: black;
    align-self: center;
  }

  .nav-item {
    padding: 15px;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
  }
  .nav-item-name {
    font-size: 12px;
    padding: auto 50px;
    align-self: center;
    justify-items: center;
  }
  .nav-item-name p {
    text-align: center;
    font-size: 8px;
    color: rgb(173, 169, 169);
    margin: 0px;
  }
  /* section info - MUC TIEU NGHE NGHIEP VA THONG TIN CA NHAN */

  .container-personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
  }
  .container-job {
    margin: 40px 10% 40px 30%;
  }
  .container-info {
    padding-left: 10%;
    padding: 40px 10%;
    background-color: var(--secondary-color);
  }
  .container-contact-icon {
    margin-top: 30px;
  }
  .container-contact-icon i {
    color: var(--primary-color);
  }

  /* 6 containers box ~ 6 containers box Thông tin nghề nghiệp */
  /* btn View More */
  .btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1px 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
  }
  .section-6-box {
    background-color: white;
    padding: 20px 0;
  }
  .container-box {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-box .container {
    display: block;
    margin: 30px 20px 0 20px;
  }
  .container {
    border: 1px solid var(--secondary-color);
  }

  .container div {
    padding: 0px 10px 5px 5px;
  }
  /* vi tri button viewmore so 1 va 3*/
  .btn1 {
    margin-top: 0px;
  }
  .btn3 {
    margin-top: 0px;
  }
  .box-title {
    display: grid;
    grid-template-areas: "title tile icona" "vm vn vn";
    justify-items: left;
    padding: 20px 0 100px 0;
    height: 150px;
  }
  .box-title div {
    grid-area: vm;
  }
  .box-title h2 {
    grid-area: title;
    padding: 20px 0px 0px 0px;
  }
  .box-title i {
    font-size: 20px;
    grid-area: icona;
    padding: 20px 0px 0px 0px;
  }
  /* Sở Thích 4  ~ TƯƠNG ỨNG VỚI BÊN BOX 6 CỦA INDEX.HTML */
  .hobby-icons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  }
  .hobby-icons li i {
    margin-bottom: 20px;
    padding: 7px 10px;
    font-size: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
  }
  /*  Ngôn ngữ 5 ~ TƯƠNG ỨNG VỚI BÊN BOX 5 CỦA INDEX.HTML */
  .box-detail-department {
    display: block;
  }
  .container-level {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
  }
  .container-level span {
    width: auto;
    height: 8px;
    background-color: var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
  }
  /* Chứng chỉ - Giải thưởng
 */
  .section-certificates {
    background-color: var(--secondary-color);
    padding: 20px 0;
  }
  .container-certificates {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .container-certificates-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
  }
  .certificates-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 2px solid #333;
  }

  .certificates-item img {
    width: 50%;
    height: auto;
    margin-right: 20px;
  }
  .certificates-item:nth-child(2) > img {
    font-weight: bold;
    margin-bottom: 5px;
    border-left: 1px solid var(--primary-color);
  }
  /* Dự án - MỤC CUỐI  */
  /* MỤC CV CÁ NHÂN */
  .digitalCV a {
    color: red;
  }
  .digitalCV a:hover {
    color: rgb(46, 246, 59);
    font-weight: bold;
  }
  .section-project {
    width: 100%;
  }
  .container-box-project {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .container-box-proA {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .container-box-project .box-project1 img {
    width: 100%;
  }
  .container-box-project .box-project1 {
    display: block;
    border: 1px solid var(--secondary-color);
    border-bottom: none;
  }
  .box-project1-container {
    display: block;
  }
  .box-project1-container h2 {
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
  }
  .box-pro-cont1 .box-pro1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .box-pro-cont1 .box-pro1 div {
    margin-right: 10px;
    justify-items: center;
  }

  .box-pro-cont1 {
    border-bottom: 1px solid var(--secondary-color);
  }
  td {
    height: auto;
    padding: 20px 10px;
  }
  td {
    border-bottom: 1px solid var(--secondary-color);
  }
  .container3 {
    display: none;
  }
  .box-year p {
    width: auto;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 25px;
  }
  .box-year p:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
    cursor: pointer;
  }
  .box-icon {
    justify-content: left;
    align-items: left;
  }
  .box-person {
    display: flex;
  }
  .box-developer {
    display: flex;
  }
  .box-pro-cont2 {
    grid-template-rows: 1fr 1fr;
    display: grid;
  }
  .box-pro-cont2 .box-pro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--secondary-color);
  }
  .section-project {
    margin-bottom: 30px;
  }
  /* footer dưới cùng*/
  footer {
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 50px 0;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  footer ul li {
    margin: 0px;
    padding: 0 10px;
    list-style: none;
    text-align: center;
  }
  footer ul li i {
    font-size: 30px;
    color: var(--primary-color);
  }
  footer ul li p {
    font-size: 1rem;
    color: black;
  }
  footer ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .textEl p {
    margin-bottom: 0;
  }
  /* Ẩn FORM  */
  /* .hidden {
    display: none;
    padding: 0;
  } */

  /* DIGITAL PAGE */

  .cv-header-banner {
    width: 100%;
    height: 650px;
    position: relative;
  }
  .cv-header-name-container {
    position: absolute;
    width: 100%;
    height: auto;
    top: 20%;
    left: 2%;
    font-size: 10px;
    color: greenyellow;
  }
  .bigBox {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-top: 10px solid rgb(239, 82, 234);
    border-bottom: 5px solid rgb(239, 82, 234);
    border-left: 5px solid rgb(239, 82, 234);
    border-right: 10px solid rgb(239, 82, 234);
    width: 100%;
  }
  .cv-6BigBoxs {
    display: grid;
    gap: 0px;
    grid-template-areas: "div1  div2 hov" " div3 div4 hov";
  }
  .cv-6BigBoxs {
    grid-area: div1;
  }
  .scopeBigBox {
    grid-area: div3;
  }
  .teamBigBox {
    grid-area: div2;
  }
  .primaryBigBox {
    grid-area: div4;
  }
  .timelineBox {
    grid-area: hov;
  }

  /* Chinh text title cho tung div */
  .titleDiv {
    border-bottom: 1px solid rgb(239, 82, 234);
    color: rgb(239, 82, 234);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .everyBox {
    padding-top: 10px;
  }
  .everyScopeBoxs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* Muc TEAM trong CV-page*/
  .team {
    display: flex;
  }
  .iconTeam {
    margin-right: 20px;
  }
  .iconTeam i {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
  }
  /* muc timeline trong CV-PAGE */
  .timeline {
    display: flex;
  }
  .timelineOrderNumber {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(239, 82, 234);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 30px;
  }
}
